In [22]:
import pandas as pd
import csv

In [23]:
data1 = pd.read_csv('南昌0.csv')
data2 = pd.read_csv('赣州0.csv')
data3 = pd.read_csv('宜春0.csv')
data4 = pd.read_csv('吉安0.csv')
data5 = pd.read_csv('上饶0.csv')
data6 = pd.read_csv('抚州0.csv')
data7 = pd.read_csv('九江0.csv')
data8 = pd.read_csv('景德镇0.csv')
data9 = pd.read_csv('萍乡0.csv')
data10 = pd.read_csv('新余0.csv')
data11 = pd.read_csv('鹰潭0.csv')
data1.head()

         date  Rain  AQI
0  2019-09-01  19.2   46
1  2019-09-02  18.1   25
2  2019-09-03   0.8   28
3  2019-09-04   0.0   34
4  2019-09-05   0.0   36

In [24]:
print("city0: ",data1["Rain"].min(),"~",data1["Rain"].max())
print("city1: ",data2["Rain"].min(),"~",data2["Rain"].max())
print("city2: ",data3["Rain"].min(),"~",data3["Rain"].max())
print("city3: ",data4["Rain"].min(),"~",data4["Rain"].max())
print("city4: ",data5["Rain"].min(),"~",data5["Rain"].max())
print("city5: ",data6["Rain"].min(),"~",data6["Rain"].max())
print("city6: ",data7["Rain"].min(),"~",data7["Rain"].max())
print("city7: ",data8["Rain"].min(),"~",data8["Rain"].max())
print("city8: ",data9["Rain"].min(),"~",data9["Rain"].max())
print("city9: ",data10["Rain"].min(),"~",data10["Rain"].max())
print("city10: ",data11["Rain"].min(),"~",data11["Rain"].max())
rain1 = list(data1['Rain'])
rain2 = list(data2['Rain'])
rain3 = list(data3['Rain'])
rain4 = list(data4['Rain'])
rain5 = list(data5['Rain'])
rain6 = list(data6['Rain'])
rain7 = list(data7['Rain'])
rain8 = list(data8['Rain'])
rain9 = list(data9['Rain'])
rain10 = list(data10['Rain'])
rain11 = list(data11['Rain'])

city0:  0.0 ~ 127.5
city1:  0.0 ~ 231.1
city2:  0.0 ~ 189.2
city3:  0.0 ~ 194.6
city4:  0.0 ~ 220.9
city5:  0.0 ~ 63.3
city6:  0.0 ~ 133.1
city7:  0.0 ~ 216.3
city8:  0.0 ~ 197.8
city9:  0.0 ~ 199.3
city10:  0.0 ~ 246.4

In [25]:
s = ''

In [26]:
s += 'var rain = ['

In [27]:
s += '['
for i in range(len(rain1)):
    s += str(rain1[i])
    if i != len(rain1) - 1:
        s += ","
s += '],'

s += '['
for i in range(len(rain1)):
    s += str(rain2[i])
    if i != len(rain1) - 1:
        s += ","
s += '],'

s += '['
for i in range(len(rain1)):
    s += str(rain3[i])
    if i != len(rain1) - 1:
        s += ","
s += '],'

s += '['
for i in range(len(rain1)):
    s += str(rain4[i])
    if i != len(rain1) - 1:
        s += ","
s += '],'

s += '['
for i in range(len(rain1)):
    s += str(rain5[i])
    if i != len(rain1) - 1:
        s += ","
s += '],'

s += '['
for i in range(len(rain1)):
    s += str(rain6[i])
    if i != len(rain1) - 1:
        s += ","
s += '],'

s += '['
for i in range(len(rain1)):
    s += str(rain7[i])
    if i != len(rain1) - 1:
        s += ","
s += '],'

s += '['
for i in range(len(rain1)):
    s += str(rain8[i])
    if i != len(rain1) - 1:
        s += ","
s += '],'

s += '['
for i in range(len(rain1)):
    s += str(rain9[i])
    if i != len(rain1) - 1:
        s += ","
s += '],'

s += '['
for i in range(len(rain1)):
    s += str(rain10[i])
    if i != len(rain1) - 1:
        s += ","
s += '],'

s += '['
for i in range(len(rain1)):
    s += str(rain11[i])
    if i != len(rain1) - 1:
        s += ","
s += ']'

s += '];'

In [28]:
f = open('../js/rain.min.js','w')
f.write(s)
f.close()